3d_resource_dll/*.dll
gilde_dll/*.dll
gildestp_dll/*.dll
reimpl/europe_guild_1400_original/
reimpl/*.md
reimpl/build/
reimpl/build-vk/
reimpl/Testing
reimpl/vcpkg_installed/
reimpl/tools/
reimpl/scripts/
server_dll/*.dll
vibe_progress/
gilde.exe
plan